@font-face {
    font-family: DisposableDroidBB;
    src: url(Fonts/DisposableDroidBB/DisposableDroidBB.ttf) format("truetype");
}

body {
	background: url(https://i.pinimg.com/originals/33/1e/31/331e31d369af02328c60b02a4532b24e.png);
	font-family: DisposableDroidBB;
	font-size: 25px;
	color: rgb(255, 255, 255);
	max-width: 900px;
	margin: auto;
}

h1 {
	margin: 50px auto 15px auto;
	text-align: center;
}

p {
	margin:  auto;
	text-align: center;
	font-style: italic;
}

form {
	background-color: rgb(43, 32, 70);
	margin: 30px 80px 0 80px;
}

fieldset {
	border-style: hidden;
}

label {
	margin: 40px 30px;
	display: block;
}

select {
	display: block;
	margin-top: 10px;
	height: 40px;
	font-family: DisposableDroidBB;
	font-size: 20px;
	padding-left: 10px;
}

textarea {
	height: 100px;
	font-size: 22px;
	padding-left: 5px;
}

input {
	height: 30px;
	font-size: 20px;
  	padding-left: 10px;
}

.inline {
	font-size: 23px;
	margin: 10px 0 0 0;
}

.parenthesis-p {
	display: inline;
	font-size: 18px;
	font-style: unset;
	vertical-align: middle;
}

input, textarea {
	font-family: DisposableDroidBB;
	margin-top: 10px;
  	border: 1px solid #FFFFFF;
}

input, textarea, select {
	box-sizing: border-box;
	width: 100%;
}

input[type="checkbox"], input[type="radio"] {
	width: unset;
  	margin: 0 0.5em 0 0;
	vertical-align: middle;
}

input[type="submit"] {
	margin-top: -15px;
	margin-bottom: 50px;
  	font-size: 30px;
  	display: block;
  	height: 1.5em;
  	width: 100%;
  	background-color: rgb(0, 172, 127);
  	border: 2px outset rgb(0, 172, 127);
  	color: white;
}